body {
    background-color: rgba(0, 0, 0, 0.886);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    cursor: default;
    overflow: hidden;
}
.container {
    margin: 100px 20px;
    background-color: rgba(208, 194, 194, 0.122);
    width: 30rem;
    box-shadow: 2px 2px 8px 0px rgba(175, 173, 173, 0.3);
}
.title {
    color: #92d2ff;
    font-size: 30px;
}
img {
    width: 30%;
}
hr {
    border: 1px solid grey; 
    margin: 30px 0;
}
.input-group input, .input-group span {
    background-color: rgb(202, 205, 205);
}
.input-group span {
    background-color: rgba(206, 197, 197, 0.904);
}
.calculate, .reset {
    margin: auto;
    padding: 10px 10px;
    border: none;
    outline: none;
    border-radius: 15px;
    color: rgb(255, 255, 255);       
    background-color: rgba(192, 174, 179, 0.615);
}
.calculate:hover, .reset:hover {
    transform: scale(1.04);
    transition: transform 0.3s ease-in-out;
    background-color: rgba(161, 83, 104, 0.615);
    color: rgb(255, 255, 255);
    opacity: 0.8;
} 
.result { 
    display: none;
    background-color: rgba(205, 191, 191, 0.18); 
    color:  #ffffff;
    box-shadow:  2px 5pxrgba(205, 191, 191, 0.625); 
    border-radius: 20px;
    margin: 10px 50px 10px 50px;
    padding: 10px 20px 10px 20px;
}
.reset {
    display: none;
    margin: auto;
}

@media screen and (max-width: 350px) {
    .container {
        width: 18rem;
    }
    .input-group {
        display: flex;
        flex-direction: column;
    }
    span {
        width: 100% !important;
        height: 40px;
        border-radius: 10px 10px 0px 0px !important;
    }
    input {
        width: 100% !important;
        border-radius: 0px 0px 10px 10px !important;
    }

}